<!DOCTYPE html>
<html lang="en" theme="dark-mode" lang="en" style="filter: invert(1) hue-rotate(180deg)">
  <head>
    <%- include("../components/head",{title:"Article Page"}) %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col mt-3">
     <a href="set-cookies">Set Cookies</a>
     <br>
     <a href="clear-cookies">Clear Cookies</a>
        </div>
      </div>
    </div>

    <%- include("../components/scripts"); %>
</html>
